<?xml version="1.0" encoding="utf-8"?><settings>            
                <category label="General">                        
                                <setting default="0" id="sortwxf" label="30011" lvalues="30012|30013|30014" type="enum"/>                        
                                <setting default="0" id="sortxt" label="30021" lvalues="30022|30023|30024|30025" type="enum"/>                        
                                <setting default="0" id="filteruploaded" label="30051" lvalues="30050|30052|30053|30054|30055" type="enum"/>
                                <setting default="0" id="filterduration" label="30061" lvalues="30050|30062|30063" type="enum"/>
                                <setting default="0" id="filterquality" label="30071" lvalues="30050|30072|30073" type="enum"/>
                                <setting default="false" id="chaturbate" label="30003" type="bool"/>                        
                                <setting default="false" id="paradisehill" label="30004" type="bool"/>                        
                                <setting default="false" id="posterfanart" label="30005" type="bool"/>                        
                                <setting default="" id="download_path" label="Download Folder" option="writeable" source="video" type="folder"/>                        
                                <setting default="0" id="daftsexresolver" label="30031" lvalues="30032|30033" type="enum"/>                        
                </category>            
                <category label="Hosts and resolvers">                        
                                <setting default="false" id="dontask" label="30002" type="bool"/>                        
                                <setting default="true" id="universal_resolvers" label="30026" type="bool"/>                        
                                <setting action="RunPlugin(plugin://plugin.video.uwc/?mode=8)" enable="true" id="open_smr_settings" label="30027" option="close" type="action"/>                        
                </category>            
                <category label="Chaturbate">                        
                                <setting label="30110" type="lsep"/>                        
                                <setting default="true" id="chatfemale" label="30111" type="bool"/>                        
                                <setting default="true" id="chatmale" label="30112" type="bool"/>                        
                                <setting default="true" id="chatcouple" label="30113" type="bool"/>                        
                                <setting default="true" id="chattrans" label="30114" type="bool"/>                        
                                <setting label="Playback mode" type="lsep"/>                        
                                <setting default="0" id="chatslow" label="30117" lvalues="30115|30116" type="enum"/>                        
                                <setting default="0" id="chatplay" label="30100" lvalues="30101|30102|30103" type="enum"/>                        
                                <setting label="F4mProxy is slightly better" type="lsep"/>                        
                                <setting label="RTMP needs a patched librtmp from:" type="lsep"/>                        
                                <setting label="http://kodi.wiki/view/how-to:update_librtmp" type="lsep"/>                        
                                <setting label="With RTMP, no audio on most streams though," type="lsep"/>                                 
                                <setting label="because of missing Speex coded in Kodi" type="lsep"/>                                
                </category>            
                <category label="Accounts">                        
                                <setting id="porntrexacct" label="30030" type="bool" default="true" />
                                <setting label="Porntrex" type="lsep"/>                        
                                <setting default="" id="pt_user" label="User:" type="text"/>                        
                                <setting default="" id="pt_pass" label="Password:" option="hidden" type="text"/>                        
                                <setting label="JAVWhores" type="lsep"/>                        
                                <setting default="" id="jw_user" label="User:" type="text"/>                        
                                <setting default="" id="jw_pass" label="Password:" option="hidden" type="text"/>                        
                </category>            
                <category label="RedTube Live Search">                        
                                <setting label="Model Picture" type="lsep"/>                        
                                <setting default="true" id="bio_pic" label="Profile" type="bool"/>                        
                                <setting label="Search" type="lsep"/>                        
                                <setting default="false" id="rName" label="Name" type="bool"/>                        
                                <setting default="false" id="rAge" label="Age" type="bool"/>                        
                                <setting default="false" id="rCountry" label="Country" type="bool"/>                        
                                <setting default="false" id="rGender" label="Gender" type="bool"/>                        
                </category>            
                <category label="Favorites and keywords">                        
                                <setting default="false" id="favsort" label="30214" type="bool"/>                        
                                <setting default="false" id="searchsort" label="30215" type="bool"/>                        
                                <setting label="Favorites" type="lsep"/>                        
                                <setting action="RunPlugin(plugin://plugin.video.uwc/?mode=910)" enable="true" id="backup_favorites" label="30201" option="close" type="action"/>                        
                                <setting action="RunPlugin(plugin://plugin.video.uwc/?mode=911)" enable="true" id="restore_favorites" label="30202" option="close" type="action"/>                        
                                <setting action="RunPlugin(plugin://plugin.video.uwc/?mode=912)" enable="true" id="clear_favorites" label="30203" option="close" type="action"/>                        
                                <setting label="Search keywords" type="lsep"/>                        
                                <setting action="RunPlugin(plugin://plugin.video.uwc/?mode=908)" enable="true" id="backup_keywords" label="30211" option="close" type="action"/>                        
                                <setting action="RunPlugin(plugin://plugin.video.uwc/?mode=909)" enable="true" id="restore_keywords" label="30212" option="close" type="action"/>                        
                                <setting action="RunPlugin(plugin://plugin.video.uwc/?mode=903)" enable="true" id="clear_keywords" label="30213" option="close" type="action"/>                        
                </category>            
            <category id="enDiss" label="ReEnable Sites/Categories">                        <setting action="RunPlugin(plugin://plugin.video.uwc/?url=%5BCOLOR+hotpink%5DJAV%5B%2FCOLOR%5D&amp;mode=998&amp;name=%5BCOLOR+hotpink%5DJAV%5B%2FCOLOR%5D)" default="[COLOR hotpink]JAV[/COLOR]" id="JAV" option="close" type="action"/>    </category></settings>